$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

a {
  color: #009688;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #009688;
}

/* Main marketing message and sign up button */
.container {
  .jumbotron {
    text-align: center;
    background-color: #009688;
    background: linear-gradient(141deg, #42bbb0 0%, #43a4af 51%, #2aa59a 75%);
    background: linear-gradient(141deg, #42bbb0 0%, #1c656d 51%, #2aa59a 75%);

    border-radius: 0px;
    border-bottom: 1px solid #e5e5e5;
    color: #eee;

    .btn {
      padding: 10px 30px;
      font-size: 24px;
      border-radius: 10px;
    }
  }

  .row {
    h4 {
      background-color: #009688;
      color: #fff;
      padding: 8px 20px;
      margin: 10px 0;
    }

    ul {
      li {
        font-size: 18px;
      }
    }

    table {
      ul {
        padding: 0;
      }
    }

    p,
    table,
    li {
      font-size: 18px;
    }

    p {
      color: #ccc;
    }

    th {
      color: #2196f3;
    }
  }
}

.row.marketing {
  h4 {
    background-color: #80729a;
  }
}


/* Supporting marketing content */
.marketing {
  // margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.logo {
  height: 25px;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    .text-muted {
      font-size: 0;
    }
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
