$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: 'PingFang SC', 'Source Han Sans CN', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, 'Heiti SC', sans-serif;
}

li {
  list-style: none;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a,
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

.register {
  margin-top: 5px;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  padding: 20px;
  border: 1px solid #fff;
  background-color: #80329a;
}

footer {
  margin-top: 20px;
}

/* Space out content a bit */
// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.queries {
  z-index: 1;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    // background-color: #EEE;
    margin-bottom: 19px;
    vertical-align: middle;
    color: #fff;
    // border-bottom: 1px solid #ccc;
    img {
      background: #fff;
      border-radius: 5px;
      padding: 1px;
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.nav {
  margin-top: 5px;
}

.container-narrow > hr {
  margin: 30px 0;
}

// a {
//   color: #009688;
// }

.qq-group {
  ul {
    list-style: none;

    li {
      list-style: none;
    }
  }
}

.nav-pills > li,
.nav-pills > li > a,
.nav-pills > li.active > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:visited,
.nav-pills > li > a:link,
.nav-pills > li.active > a:link,
.nav-pills > li.active > a:visited,
.nav-pills > li > a:active,
.nav-pills > li.active > a:active,
.nav-pills > li.active > a:hover,
.nav-pills > li > a:focus
.nav-pills > li.active > a:focus {
  color: #fff;
  background: url('');
  // border-radius: 0px;
  text-align: center;
}

.nav-pills > li.active > a:after,
.nav-pills > li:hover > a:after {
  content: "";
  position: absolute;
  height: 5px;
  top: 90%;
  left: 20%;
  width: 60%;
  border-radius: 3px;
  background-color: #fff;
}

/* Main marketing message and sign up button */
.container.backimage {
  width: auto;
  background: url('../images/bg.jpg') no-repeat;
  color: #fff;

  .desc {
    margin-top: 200px;
    margin-bottom: 207px;

    h1 {
      font-size: 70px;
    }

    h3 {
      font-size: 40px;
    }

    h2 {
      font-size: 50px;
    }
  }
}

.container.main {
  width: auto;
  background-color: #fff;
  color: #888;

  h1.logo {
    margin-top: 50px;
    height: 80px;

    img {
      width: 64px;
      height: 64px;
    }
  }

  h2 {
    color: #888;
  }

  h1.big {
    padding: 10px 0px 80px;
  }

  .row {
    .container.intro {
      padding: 10px 30px;

      .row.list {
        margin-top: 40px;

        p {
          margin-top: 10px;
        }
      }
    }
  }
}

.container.color {
  width: auto;
  background-color: #99cc99;
  padding: 40px;
  color: #fff;

  h1 {
    color: #fff;
  }

  // .circle {
  //   position: relative;
  //   border-radius: 50%;
  //   background: #009688;
  // }
}

.container.color.one {
  background-color: #ffc0c3;
}

.container.color.two {
  background-color: #9999cc;
}

.container.color.three {
  background-color: #5b8bb3;
}

.container.color.contact {
  background-color: #fff;
  color: #888;

  h1,
  h4 {
    color: #888;
  }
}

.container.color.footer {
  background-color: #444444;
  padding-top: 0px;
}

.container {
  .jumbotron {
    text-align: center;
    background-color: #009688;
    background: linear-gradient(141deg, #42bbb0 0%, #1c656d 51%, #2aa59a 75%);
    border-radius: 20px;
    // border-bottom: 1px solid #e5e5e5;
    color: #eee;
    box-shadow: 2px 2px 2px #ccc;

    .btn {
      //   padding: 10px 30px;
      font-size: 24px;
      border-radius: 0px;
      box-shadow: 1px 1px 1px #ccc #ccc;
    }
  }

  .row {
    h4 {
      // background-color: #009688;
      font-size: 40px;
      text-align: center;
      color: #fff;
      padding: 8px 20px;
      margin: 10px 0;
      transition: 1s ease-out;
    }

    h4:hover {
      transform: scale(1.2);
    }

    ul {
      padding-right: 20px;

      li {
        font-size: 18px;
      }
    }

    table {
      ul {
        padding: 0;
      }
    }

    p,
    table,
    li {
      font-size: 18px;
    }

    p.intro {
      color: #aaa;
      padding: 0px 20px;
      height: 45px;
    }

    th {
      // color: #2196f3;
    }
  }
}

.row.marketing {
  h4 {
    background-color: #80729a;
  }
}

.row.intro {
  h4 {
    background-color: #80329a;
    background: linear-gradient(45deg, #3f51b5 10%, #3f51b5 10%, #03a9f4 45%);
  }
}

.row > div.coming {
  position: relative;

  .mask {
    background-color: black;
    display: block;
    opacity: 0.6;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    p {
      position: absolute;
      font-size: 48px;
      color: #fff;
      top: 60%;
      left: 50%;
      height: 30%;
      width: 50%;
      margin: -15% 0 0 -25%;
    }
  }
}


/* Supporting marketing content */
.marketing {
  // margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.logo {
  height: 25px;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .row>div.coming .mask p {
    top: 20%;
  }

  .container.main h1.logo {
    margin-top: 20px;
  }

  .container.backimage .desc {
    margin-top: 40px;
    margin-bottom: 41px;

    h1 {
      font-size: 30px;
    }

    h3 {
      font-size: 20px;
    }

    h2 {
      font-size: 25px;
    }
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;

    .text-muted {
      font-size: 0;
    }
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
